.cls1{
    background-image: url(../portfoliosite/image/bg.jpg);
    color: white;
    padding-top: 400px;  
}
a{
    color: white;
}
.cls2{
    position: relative;
    left: 130px;
}
.navbar{
    position: relative;
    right: 20px;
    
}
.navbar a{
    color: white;
}
.line{
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
    color: white;
}