.img{
    background-image: url('image/bg.jpg');
    color: white;
    padding-top: 200px; 
    height: 100vh;
    position: fixed;
}
.bio{
    font-size: 25px;
    padding-top: 15px;
}
.container-fluid h1{
    font-size: 54px;

}
.container-fluid h1 :hover{
    color: white;
    
}
a{
    color: white;
}
.cls2{
    position: relative;
    left: 130px;
}

.navbar a{
    color: white;
}
.line{
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
    color: white;
}
.nav-item :hover{
    background-color: #18d26e;
    color: white;
    border-radius: 50%;
    width: 80px;
    
}
.social{
    margin-top: 25px;
  display: flex;
  
}
.social a{
    font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social a :hover{
    background: #18d26e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.editor{
    color: #18d26e;   
}
.cls3{
    position: relative;
    left: 1310px;
    top: 300px;
    font-size: 15px;
}