.img{
    background-image: url('image/bg.jpg');
    color: white;
    padding-top: 400px;  
}
a{
    color: white;
}
.cls2{
    position: relative;
    left: 130px;
}
.navbar{
    position: relative;
    right: 20px;
    
}
.navbar a{
    color: white;
}
.line{
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
    color: white;
}
.social{
    margin-top: 25px;
  display: flex;
}
.social a{
    font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social a :hover{
    background: #18d26e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}