@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,300&family=Spectral:wght@200&display=swap');

.header-pages {
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background-color: #eaf0ff;  
    text-align: center;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	font-family: 'Spectral', serif;
	font-size: 44px;
	color: #121212;
	font-style: italic;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #d8deed;
	position: relative;
	padding: 40px 0px;
	height: auto!important;
}

#main-nav {
	padding: 35px 0px;
	float: right;
    position:relative;
    left:-15%;
    text-align: center;
}

.nav {
	list-style:none;
    position:relative;
    left:50%;
}

.navbar-nav li {
	margin: 0px 20px;
}

.navbar-nav li a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #363e50!important;
	letter-spacing: 0.5px;
}

.header.active {
    background-color: #eaf0ff;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.navbar-inverse .navbar-toggler {
	margin-top: 22px;
    border-color: #f2745f;
    background-color: #f2745f;
	
}
.navbar-inverse .navbar-toggler:hover, .navbar-inverse .navbar-toggler:focus {
	background-color: #f2745f;
}
.banner{
	padding: 80px 0px;
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;
}
.banner h6{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.banner h1{
	color: white;
	font-size: 48px;
    text-transform: uppercase;
	font-family: 'Spectral', serif;
}
.banner p{
	color: white;
	font-size: 14px;
}
.banner .primary-button {
	margin-top: 30px;
	
}

section.breakfast-menu {
	margin-top: 100px;
}

section.breakfast-menu .price {
	right: 15px;
}

.breakfast-menu-content {
	background-color: #f2f6ff;
	padding: 30px 0px 30px 30px;
}

.breakfast-menu-content .left-image img {
	width: 100%;
	overflow: hidden;
}

.breakfast-menu-content .left-image {
	margin: -30px 0px -30px -30px;
}

.breakfast-menu-content #owl-breakfast {
	margin-left: -15px;
}

.breakfast-menu-content h2 {
	margin-top: 0px;
	margin-bottom: 30px;
	padding-bottom: 8px;
	font-family: 'Spectral', serif;
	font-size: 28px;
	width: 94.5%;
	border-bottom: 1px solid #d9dde5;
	color: #121212;
}



section.lunch-menu {
	margin-top: 100px;
}

section.lunch-menu .price {
	right: 15px;
}

.lunch-menu-content {
	background-color: #f2f6ff;
	padding: 30px 0px 30px 30px;
}

.lunch-menu-content .left-image img {
	width: 100%;
	overflow: hidden;
}

.lunch-menu-content .left-image {
	margin: -30px 0px -30px -30px;
}

.lunch-menu-content #owl-lunch {
	margin-left: -15px;
}

.lunch-menu-content h2 {
	margin-top: 0px;
	margin-bottom: 30px;
	padding-bottom: 8px;
	font-family: 'Spectral', serif;
	font-size: 28px;
	width: 94.5%;
	border-bottom: 1px solid #d9dde5;
	color: #121212;
}



section.dinner-menu {
	margin-top: 100px;
	margin-bottom: 100px;
}

section.dinner-menu .price {
	right: 15px;
}

.dinner-menu-content {
	background-color: #f2f6ff;
	padding: 30px 0px 30px 30px;
}

.dinner-menu-content .left-image img {
	width: 100%;
	overflow: hidden;
}

.dinner-menu-content .left-image {
	margin: -30px 0px -30px -30px;
}

.dinner-menu-content #owl-dinner {
	margin-left: -15px;
}

.dinner-menu-content h2 {
	margin-top: 0px;
	margin-bottom: 30px;
	padding-bottom: 8px;
	font-family: 'Spectral', serif;
	font-size: 28px;
	width: 94.5%;
	border-bottom: 1px solid #d9dde5;
	color: #121212;
}
.blog-content{
	margin-top: 100px;
}
.blog-content img{
	position: relative;
	left: 550px;
}
/* .blog-content .date{
	
} */